/vendor/
/node_modules/
/composer.lock
/package-lock.json
/yarn.lock

.env
.env.*.backup
/storage/*.key

/bootstrap/cache/
/storage/framework/
/storage/logs/
/storage/app/

/public/build
/public/hot
/public/storage
/public_shared/

/.idea/
/.vscode/
/.fleet/
/.npm/
/.cache/

/.phpunit.cache
/.phpunit.result.cache

npm-debug.log
yarn-error.log

public/C*/
.composer/
